---
import BaseHead from "../baseHead.astro";
import DarkMode from "../darkMode.astro";
import Pointer from "../pointer.astro";

interface Props {
    title?: string;
    cover?: string;
    description?: string;
    class?: string;
    pointerCenterWidth?: number;
}

const { title, cover, description, class: classes, pointerCenterWidth = null } = Astro.props;
---

<html lang="en" class="scroll-smooth">
    <head>
        <BaseHead title={title} cover={cover} description={description} />
    </head>
    <body
        class:list={[
            "bg-white text-black dark:bg-black dark:text-white",
            "min-h-svh w-full overflow-x-hidden",
            "flex flex-col items-center",
            classes,
        ]}
    >
        <!-- <div class="w-full h-full fixed top-0 left-0 -z-10 select-none pointer-events-none" style="background-image: url('/photos/2024-07-30-20240730-dsc_0145_l.webp'); background-repeat: no-repeat; background-position: center; background-size: cover;"/> -->
        {false && pointerCenterWidth && <Pointer centerWidth={pointerCenterWidth} />}
        <!-- <DarkMode /> -->
        <slot />
    </body>
</html>
