---
import BaseHead from "../baseHead.astro";
import DarkMode from "../darkMode.astro";
import Pointer from "../pointer.astro";

interface Props {
    title?: string;
    cover?: string;
    class?: string;
    pointerCenterWidth?: number;
}

const { title, cover, class: classes, pointerCenterWidth = null } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} cover={cover} />
    </head>
    <body
        class:list={[
            "bg-white text-black dark:bg-black dark:text-white",
            "min-h-svh w-full overflow-x-hidden",
            "flex flex-col items-center",
            classes,
        ]}
    >
        {pointerCenterWidth && <Pointer centerWidth={pointerCenterWidth} />}
        <DarkMode />
        <slot />
    </body></html
>
