---
interface Props {
    id?: string;
    class?: string;
    ligatures?: boolean;
}

const { id = null, class: classes = "", ligatures = false } = Astro.props;
const idResolved =
    id ??
    (await Astro.slots.render("default"))?.replace(" ", "-")?.toLowerCase();
---

<h1
    id={idResolved}
    class:list={[
        "font-serif font-semibold text-5xl mt-8 scroll-mt-20",
        classes,
        { ligatures },
    ]}
>
    <slot />
</h1>
