---
import Layout from "../components/layout_components/layout.astro";
import MdLink from "../components/prose_components/mdLink.astro";
import Space from "../components/prose_components/space.astro";
import TextContainer from "../components/prose_components/textContainer.astro";
import { Content } from "../content/snippets/404.mdx";
---

<Layout title="404! Page not found!" cover="2022-03-18-lingermyth-greenbank">
    <main class="mt-16 sm:mt-64 mb-[50svh] px-4">
        <h3>⚠ 404 ⚠</h3>
        <Space lines={4} />
        <TextContainer startIcon={false} endIcon={false} title="Hey! Watch it!">
            <Content components={{ a: MdLink }} />
        </TextContainer>
    </main>
</Layout>
