---
import { getCollection } from "astro:content";
import TextContainer from "../components/prose_components/textContainer.astro";
import SmartImage from "../components/prose_components/smartImage.astro";
import MdLink from "../components/prose_components/mdLink.astro";
import MdImg from "../components/prose_components/mdImg.astro";
import BaseHead from "../components/baseHead.astro";
import Navbar from "../components/layout_components/navbar.astro";

export async function getStaticPaths() {
    const textProjects = await getCollection("text");
    return textProjects.map((props) => ({
        params: { text: props.slug },
        props: { props },
    }));
}

const {
    props: { data, ...props },
} = Astro.props;
const { Content } = await props.render();
---
<html lang="en">
    <head>
        <BaseHead title={data.title} cover={data.cover} />
    </head>
    <body class="flex flex-col items-center">
        <Navbar righttext={props.slug.replaceAll("-", " ").toUpperCase()} />
        <main class="px-4 w-full max-w-[856px] flex flex-col items-center mb-[50svh]">
            {
                data.cover && (
                    <SmartImage
                        src={data.cover}
                        alt={data.coverCaption}
                        class="relative w-full sm:mt-[1.7rem] mt-20"
                        caption="right"
                    />
                )
            }
            <TextContainer {...data} columns={0} class="max-w-[600px] sm:mt-[20svh] mt-20">
                <Content components={{ a: MdLink, img: MdImg }} />
            </TextContainer>
        </main>
    </body>
</html>