---
import { Content } from "../content/snippets/about.mdx";
import Layout from "../components/layout_components/layout.astro";
import AnnotatedLink from "../components/prose_components/annotatedLink.astro";
---

<Layout
    title="About - Duncan Petrie"
    cover="2021-01-14-north-atlantic-pennance-point"
>
    <main
        class="max-w-md mb-12 sm:ml-8 mx-4
    [&_>h1]:text-5xl [&_>h1]:font-semibold [&_>h1]:font-serif [&_>h1]:ligatures
    [&_>p:first-of-type]:arrow-indent relative [&_>*]:pt-4">
        <Content components={{ a: AnnotatedLink }} />
    </main>
</Layout>
