---
import BaseHead from "../components/baseHead.astro";
import TextContainer from "../components/prose_components/textContainer.astro";
import { getPhotosByTags } from "../lib/photoHelper";
import { Content } from "../content/photo/palimpsest.mdx";

const photos = getPhotosByTags("site-all");
---

<html lang="en">
    <head>
        <BaseHead />
    </head>
    <body class="bg-white text-black font-sans">
        <main class="flex flex-wrap justify-center items-center">
            <div class="swiper w-[100svh]">
                <div class="swiper-wrapper">
                    {
                        photos.map((p) => {
                            return (
                                <div class="swiper-slide">
                                    <div class="w-[min(calc(100svh_-_2rem),100vw)] aspect-square p-4 flex items-center justify-center">
                                        <img
                                            src={p.paths.medium}
                                            alt={p.joinedCaption}
                                            draggable="false"
                                            style={`max-width: ${Math.min(p.ratio, 1)*100}%;`}
                                        />
                                    </div>
                                </div>
                            );
                        })
                    }
                </div>
            </div>
            <div class="w-full py-4 mx-4 border-t- border-black max-w-[600px] mb-20">
                <TextContainer title="Palimpsest">
                    <Content />
                </TextContainer>
            </div>
        </main>
    </body><script>
        import Swiper from "swiper";
        import "swiper/css";

        document.addEventListener("DOMContentLoaded", function () {
            const swiper = new Swiper(".swiper", {
                on: {
                    realIndexChange: () => {},
                },
                modules: [],
                // spaceBetween: 0,
                loop: true,
                // rewind: true,
                simulateTouch: true, // controls whether mouse can swipe
                breakpoints: {
                    640: {
                        simulateTouch: false, // only simulate touch on small screens
                    },
                },
            });

            swiper.el
                .querySelectorAll("img")
                .forEach((e) => e.addEventListener("click", () => {}));

            document.addEventListener("keydown", (e) => {
                if (e.key === "ArrowLeft") {
                    swiper.slidePrev(300, true);
                } else if (e.key === "ArrowRight") {
                    swiper.slideNext(300, true);
                }
            });
        });
    </script>
</html>
