---
import Layout from "../components/layout_components/layout.astro";
import { resolveImage } from "../lib/photoHelper";
import type { Image } from "../lib/photoHelper";
import { Content } from "../content/snippets/homepage.mdx";
import H1 from "../components/prose_components/h1.astro";
import H2 from "../components/prose_components/h2.astro";
import H3 from "../components/prose_components/h3.astro";
import HomepageImageHoverLink from "../components/prose_components/homepageImageHoverLink.astro";
import Serif from "../components/serif.astro";
import Navbar from "../components/navbar.astro";
import ThinFooter from "../components/thinFooter.astro";
import HomepageSlideshow from "../components/homepageSlideshow.astro";

const headerImages = [
    {
        photoName: "2024-05-13-high-castle-london",
        frame: {
            type: "shadow",
            color: "black",
            size: 4,
        },
    },
    {
        photoName: "2021-01-14-north-atlantic-pennance-point",
        frame: {
            type: "border",
            color: "#e2e8f0",
            size: 4,
        },
    },
    {
        photoName: "film-pigeon-8",
        frame: {
            type: "border",
            color: "#0000000a",
            size: 3,
        },
    },
    {
        photoName: "2019-08-31-cycling-gudmundsen-drive-door-county",
        frame: {
            type: "shadow",
            color: "#5762512e",
            size: 4,
        },
    },
    {
        photoName: "2021-11-02-jubilee-pool-penzance",
        frame: {
            type: "border",
            color: "#e68d500a",
            size: 4,
        },
    },
] as Image[];

const allImages = await Promise.all(
    headerImages.map(async (image) => await resolveImage(image)),
);
---

<Layout>
    <Navbar />
    <!-- <ThinFooter /> -->

    <HomepageSlideshow />
    <main class="w-full flex flex-col items-center gap-16 z-10">
        <!-- intro -->
        <section>
            <div class="flex flex-col items-center px-4">
                <div class="max-w-md">
                    <H1 id="work" class="ligatures group">
                            Duncan Petrie<sup
                                title="This is my website! Stop messin' around with it!"
                                class="group-hover:rotate-15 transition-transform inline-block select-none"
                                >*</sup
                            >
                    </H1>
                    <div
                        class="relative [&_>*]:pt-3 [&_>p:first-of-type]:arrow-indent hyphens-none mx-2"
                    >
                        <Content
                            components={{
                                a: HomepageImageHoverLink,
                                h1: H1,
                                h2: H2,
                                h3: H3,
                                serif: Serif,
                            }}
                        />
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="mt-16 pb-16 pt-4 w-full"></footer>
</Layout>
