---

---
<button data-toplink class="hover:after:content-['_^']"><slot/></button>
<script>
    function initToplink() {
        document.querySelectorAll("[data-toplink]").forEach(e => e.addEventListener("click", () => {
            window.scrollTo({
                top: 0,
                behavior: "smooth",
            })
        }))
    }

    initToplink();
    document.addEventListener("astro:after-swap", initToplink);
</script>